$iconHover: rgba(254, 255, 245, 0.2);
$iconClicked: rgba(254, 255, 245, 0.4);
$bttnHover: #3A4D63;
$bttnClicked: #496D94;

@mixin ctaButton {
    transition: background-color 0.3s ease-out;
    &:hover {
        background-color: $bttnHover;
        filter: brightness(1.2) saturate(1.2);
    }
    &:active {
        background-color: $bttnClicked;
    }
}

@mixin chevronDown {
    transition: transform 0.3s ease-out;
    &:hover {
        transform: translateY(2px);
    }
}

@mixin chevronRight {
    transition: transform 0.3s ease-out;
    &:hover {
        transform: translateX(2px);
    }
}

@mixin chevronUp {
    transition: transform 0.3s ease-out;
    &:hover {
        transform: translateY(-2px);
    }
}

@mixin icon-hover {
    transition: transform 0.3s ease-out;
    &:hover {
        background-color: $iconHover;
    }
    &:active {
        background-color: $iconClicked;
    }
    
}

