// Brand Colors
$primary: #A5B6CB;
$secondary: #3A4D63;
$accent: #FFC359;

// UI Colors
$button: #283C52;
$ghostBttn: #E8E9E1;
$bg: #FEFFF5;
$border: #081322;
$text: #131F2F;
$gray: #595959;
$lightGray: #7E7E7E;

// UI text
$serif: "Boska", Georgia, "Times New Roman", Times, serif;
$sans: "Switzer", Arial, Helvetica, sans-serif;
$light: 300;
$regular: 400;
$medium: 500;

// UI Effects
$ui-shadow: 0 3px 3.5px rgba(0, 0, 0, 0.2),
0 6px 8px rgba(0, 0, 0, 0.2);
$chev-shadow: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.4));